name: CI
on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: '2.2.1'

      - name: Cache Poetry virtualenv
        uses: actions/cache@v4
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install development library
        run: |
          sudo apt-get -y update
          sudo apt -y install libgirepository1.0-dev libgtk-3-dev libgirepository-2.0-dev
      - name: Install dependencies
        run: poetry install

      - name: Check formatting (black)
        run: poetry run black --check .
      - name: Check import sorting (isort)
        run: poetry run isort --check .
      - name: Lint (flake8)
        run: poetry run flake8

      - name: Run tests
        run: poetry run pytest
